body {
  background-image: url('https://wallpaperaccess.com/full/2401680.jpg');
  background-size:contain;
  border: 10px solid white;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    ) 10;
}

h1 {
  background-color: black;
  color: white; 
  text-align: center;
  padding: 10px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
}

#w-message {
  margin-bottom: 30px;
  color: white; 
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
}

#board {
  display: grid;
  grid-template-columns: repeat(6, 10vmin);
  grid-template-rows: repeat(6, 10vmin);
  cursor: pointer;
  justify-content: center;
  border: 5px solid #ffb101;
  margin: 0 auto; 
  width: fit-content;
  
}

#board > div {
  border: .5px solid black;
  padding: 15px; 
  
}

.wall { 
  background-color:slategrey;
}

.path {
  background-color: white;
}

.character {
  background-image: url(Images/amongusred.png);
  background-size: 90%;
  background-position: center; 
}

.finish {
  background-image: url('https://www.gran-turismo.com/gtsport/decal/8511883637456634888_1.png');
  background-size: 12.8vmin;
  background-position: center;
  
}


#restart {
  display:flex;
  justify-content: center;
}

#restart_button {
  font-family: 'Staatliches', cursive;
  margin-top: 8%;
  margin-bottom: 10%;
  color: white;
  background-color: red;
  border-style: inset;
  border-radius: 30%;
  height:30px;
  width:80px; 
  font-size: 15px;
  text-align: center;
  ;
  cursor: pointer;
}
