body {
}

h1 {
  background-color: black;
  color: white; 
  text-align: center;
  padding: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(6, 10vmin);
  grid-template-rows: repeat(6, 10vmin);
  cursor: pointer;
  justify-content: center;
}

#board > div {
  border: 1px solid black;
  padding: 15px; 
}

.wall { 
  background-color:black;
}

.path {
  background-color: white;
}

.timer .scoreboard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30%;
}

.pL {
  background-image: url('https://www.pngkey.com/png/detail/106-1066616_ninja-royalty-free-game-art-character-png-character.png');

}