body {
  background-image: url('https://images7.alphacoders.com/114/1146879.jpg');
  background-size: fill;
}

h1 {
  background-color: black;
  color: white; 
  text-align: center;
  padding: 10px;
}

#w-message {
  color: white; 
}

#board {
  display: grid;
  grid-template-columns: repeat(6, 10vmin);
  grid-template-rows: repeat(6, 10vmin);
  cursor: pointer;
  justify-content: center;
}

#board > div {
  border: 1px solid black;
  padding: 15px; 
  
}

.wall { 
  background-color:slategrey;
}

.path {
  background-color: white;
}

.character {
  background-image: url(Images/amongusred.png);
  background-size: 90%;
  background-position: center; 
  z-index: 4;
}

.finish {
  background-image: url('https://www.gran-turismo.com/gtsport/decal/8511883637456634888_1.png');
  background-size: 12vmin;
  background-position: center;
  
}


#restart {
  display:flex;
  justify-content: center;
}

#restart_button {
  margin-top: 5%;
  padding: 10px;

}