body {
}

h1 {
  background-color: black;
  color: white; 
  text-align: center;
  padding: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(6, 10vmin);
  grid-template-rows: repeat(6, 10vmin);
  cursor: pointer;
  justify-content: center;
}

#board > div {
  border: 1px solid black;
  padding: 15px; 
  
}

.wall { 
  background-color:black;
}

.path {
  background-color: white;
}

.character {
  background-image: url(Images/amongusred.png);
  background-size: 90%;
  background-position: center; 
  z-index: 4;
}

.finish {
  background-image: url('https://www.gran-turismo.com/gtsport/decal/8511883637456634888_1.png');
  background-size: 12vmin;
  background-position: center;
  z-index:
  
}
